extends layout

block content
  h1 Pending Queue
  p Showing first #{limit} records.
  table
    each val in values
      tr
        td
          p= val.Date
        td
          p= val.Name
        td
          p= val.Amount
        td
          a(href=val.Blog)= val.Blog
    else
      li There are no values
